body {
  background: #fafafa;
  font-size: 16px;
}

.demo-layout-waterfall
  .mdl-layout__header-row
  .mdl-navigation__link:last-of-type {
  padding-right: 0;
}

.main-content {
  padding-top: 20px;
}

.friends-list {
  width: 300px;
}
.chat-list {
  list-style-type: none;
}
.chat {
  margin-top: 3px;
}

.chat-message {
  padding: 3px;
  color: white;
  width: auto;
  max-width: 60%;
  border-radius: 0px 8px 5px;
  font-size: 1.1rem;
  background: teal;
}

.chat-message-to-me {
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: teal;

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  word-wrap: break-word;
}

.chat-message-from-me {
  width: auto !important;
  background: darkgreen;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
  word-wrap: break-word;
}

.message-text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap: break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}

.message-time {
  margin: 0 !important;
  font-size: 12px;
  color: #9a9a9a;
}

.message-body {
  border: 1px solid black;
  border-radius: 1px;
}

.message-main-receiver {
  padding: 10px 20px;
  max-width: 60%;
  display: flex;
  justify-content: flex-start;
}

.message-main-sender {
  padding: 10px 20px !important;
  margin-left: 40% !important;
  max-width: 60%;
  display: flex;
  justify-content: flex-end;
}

a {
  cursor: pointer;
}
